.container{
    width: 870px;
    margin: auto;
}

a {
    text-decoration: none;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Manrope:wght@700&family=Poppins:wght@400;700&display=swap');
/* banner part start  */
header{
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.banner{
    display: flex;
    width: 100%;
}
.banner-cont{
    width: 50%;
 padding-right: 20px; ;
 margin: 10px 0;
}
.banner-cont h1{
    margin-right: -10px;
    font-size: 42px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.banner-btn{
    transition: 1s;
}
.banner-btn:hover{
    transform: translate(15px);
 
}
.banner-btn a {
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    background-color: #517474;
    border-radius: 50px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    transition: .5s;
}
.banner-btn a i{
    margin-left: 15px;
}

.banner-btn:hover a{
    box-shadow: 2px 4px 10px grey;
}
.banner-img{
    width: 50%;
    transition: 2s;
}
.banner-img:hover {
    transform:scale(1.35)
}
.banner-img img {
    width: 80%;
    margin-left: 40px;
}
/* banner part end*/

/* logo part start  */

.com-logo{
    margin: 50px 0;
    border: 3px solid green;

}
.com-logo img{
    padding: 14px;
}

/* logo part end */

/* Collection part start */

.Popular-collection {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    margin: 50px 0;
}
.pop-head{
    text-align: center;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.collection-part {
    margin-bottom: 20px;
    background: #e7e7e7;
    border-radius: 10px;
}
.collection-cont{
    padding-left: 10px;
}
.collection-cont h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 0px;
    line-height: 4px;
}
.collection-cont h2{
    font-size: 24px;
    margin-bottom: 10px;
}
.collection-cont h3 {
    font-size: 14px;
    margin-bottom: 18px;
    color: #787885;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 6px;
}

.col-ratings .fa-star , .fa-star-half-alt{
    color: rgb(235, 147, 46);
}
.col-ratings b{
    margin-left: 10px;
}

.see-more h3 {
    color: #003b6a;
   
    margin-left: 773px;
    margin-top: -51px;
}

/* Collection part end */

/* bonus part start  */
.bonus-head h1{
    text-align: center;
    font-size: 28px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;    

}

.bonus-cont{
    display: flex;
    flex-direction: column;

}
.bonus-cont input, textarea{
    text-align: ;
    padding: 6px;
    font-size: 24px;
    margin: 10px 0px;
    border-radius: 10px;
}
.bonus-cont a{
    text-align: end;
    
}
.bonus-cont #submit {
    margin: 0px 0px;
    
    border: 1px solid green;
    border-radius: 13px;
    color: white;
    font-size: 20px;
    background-color: #517474;
}
.bonus-cont a:hover #submit{
    transition: .5s;
    box-shadow: 2px 4px 10px grey;

}
/* bonus part end */

/* footer part start  */
 
footer{
   margin-top: 40px ;
    text-align: center;
    background-color: black;
    color: white;
    padding: 50px 0;
}
footer h1 {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 5px;
    margin-bottom: 28px;
}
footer h4{
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    line-height: 5px;
}
.footer-icon i {
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    background: #222121;
    border-radius: 20px;
    color: white;
    transition: 1.5s;
}
 .footer-icon a:hover i{
    background-color: #787885;
    border-radius: 20px;
  
 }
/* footer part end */



/* media query  */

@media only screen and (max-width: 600px) {

    .container{
        width: 500px;
        margin: auto;
    }
    header h2 {
        font-size: 37px;
        text-align: center;
        width: 100%;
    }
    .banner {
        display: flex;
        width: 100%;
        /* flex-wrap: nowrap; */
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-content: center;
    }
    .banner-cont {
        width: 100%;
        padding-right: 20px;
        margin: 10px 0;
    }

    .banner-cont h1 {
        margin-right: -10px;
        font-size: 50px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        text-align: center;
    }

    .banner-img{
        width: 100%;
    }
    h4 {
        font-size: 24px;
        text-align: center;
    }
    .banner-btn {
        text-align: center;
    }



    .com-logo{
        display: none;
    }
  
.pop-head{
    text-align:center;
}
.Popular-collection {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 19px;
    margin: 55px 0;
    align-items: start;
    justify-content: start;
    justify-items: center;
    align-content: center;
}
    .collection-part{
        text-align: center;
    }


.bonus-head h1{
    text-align:center;
}
.bonus-cont{
    align-items:center;
}
footer {
    
    width: 512px;
}





}


@media only screen and (min-width:600px) and (max-width: 870px){
    .container{
        max-width: 800px;
        margin: auto;
    }
    header {
        font-size: 35px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        text-align: center;
    }
    .banner-img img {
        
         margin-left: 0px; 
    }
    .Popular-collection{
        grid-template-columns: repeat(2,1fr);
    }
    .end1{
        display: none;
    }
    .bonus-cont {
        display: flex;
        flex-direction: column;
        width: 740px;
    }
    .com-logo{
        display: none;
    }
}